<%= render partial: "navbar" %>

<% @floods.each do |flood| %>
    <div>
        <span><%= flood.first_name %></span>
        <span><%= flood.last_name %></span>
        <span><%= flood.email %></span>
        <span><%= flood.description %></span>
        <span><%= flood.latitude %></span>
        <span><%= flood.longitude %></span>
        <span><%= flood.date_of_report %></span>
        <img src="<%= flood.close_up(:thumb)%>"  style="width: 150px"/>
        <img src="<%= flood.context(:thumb)%>"  style="width: 150px"/>
        <span><%= flood.water_depth %></span>
        <span><%= flood.water_depth_units %></span>
        <img src="<%= flood.water_depth_photo(:thumb)%>"  style="width: 150px"/>
        <span><%= flood.salinity %></span>
        <img src="<%= flood.salinity_photo(:thumb)%>"  style="width: 150px"/>
        <span><%= flood.bottle_number %></span>
        <img src="<%= flood.bottle_photo(:thumb)%>"  style="width: 150px"/>
    </div>
<% end %>

<%= link_to "New Flood", new_flood_path %>